/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0; 
    text-decoration: none;
    
    /* list-style: none; */
    box-sizing: border-box;
  }
  a { color: inherit; }
  
  body {
    line-height: 1.5;
  }
  
  img, picture, video, canvas, svg {
    max-width: 100%;
  }
  
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }